<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b6a6a9fa-ae2a-44e6-bd71-17075c2a8a3c/resourceGroups/API-Refeicoes/providers/Microsoft.Web/sites/RefeicoesAPI</ResourceId>
    <ResourceGroup>API-Refeicoes</ResourceGroup>
    <ApiResourceId>/subscriptions/b6a6a9fa-ae2a-44e6-bd71-17075c2a8a3c/resourceGroups/ref/providers/Microsoft.ApiManagement/service/RefeicoesDoRafaTesteAPIapi/apis/RefeicoesDoRafaTesteAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://refeicoesapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>36bd37df-4da2-4a5d-811d-ed4dacfb7308</ProjectGuid>
    <MSDeployServiceURL>refeicoesapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RefeicoesAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$RefeicoesAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>