<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b6a6a9fa-ae2a-44e6-bd71-17075c2a8a3c/resourcegroups/API-Refeicoes/providers/Microsoft.ContainerRegistry/registries/RefeicoesDoRafaTesteAPI20230308130056</ResourceId>
    <ResourceName>RefeicoesDoRafaTesteAPI20230308130056</ResourceName>
    <ResourceGroup>API-Refeicoes</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://refeicoesdorafatesteapi20230308130056.azurecr.io</RegistryUrl>
    <UserName>rafamgpf</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>36bd37df-4da2-4a5d-811d-ed4dacfb7308</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>